body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: black;
    font-size: 40px;
}

.half-width{
    width: 46%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}


.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("./../images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    /* border: 1px solid red; */
}